p.generated-headline {
    background-color: #f0f2f6;
    background-color: #f0f2f6;
    padding: 14px;
}

.r-label {
    display: inline-block;
    background: #68dfece0;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
}